<nav class="navbar navbar-expand-lg navbar-light bg-light shadow  fixed-top">
    <div class="container-fluid">
        <a class="navbar-brand mx-4" href="/">
            <img src="https://png.pngtree.com/png-vector/20190429/ourlarge/pngtree-business-corporate-s-letter-logo-png-image_996575.jpg" alt="" width="50" height="40" class="d-inline-block align-text-top mx-4">
          </a>
        <h3 class="page-header">
           <b>{{compony}} Carriers</b> 
        </h3>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      
    </div>
  </nav>